<button type="button" class="@ButtonClass" title="@Title" @onclick="buttonClicked">
    <span> <i class="@IconClass"> </i> </span>
    @if (!string.IsNullOrWhiteSpace(ButtonText))
    {
        <span>&nbsp;@ButtonText</span>
    }
</button>

@if (dialogVisible)
{
    <div class="modal @modalClass" tabindex="-1" role="dialog" style="display: @(dialogVisible ? "block" : "none")" @onclick:stopPropagation="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                @if (!string.IsNullOrWhiteSpace(ConfirmHeader))
                {
                    <div class="modal-header">
                        <h4 class="box-title">@ConfirmHeader</h4>
                    </div>
                }
                <div class="modal-body">
                    @ChildContent
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @onclick="@(() => OnClickOk.InvokeAsync(EventArgs.Empty))" @onclick:stopPropagation="true">@OkButtonText</button>
                    <button type="button" class="btn btn-secondary" @onclick="hideModalDialog" @onclick:stopPropagation="true">@CancelButtonText</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-backdrop fade show"></div>
}

