@page "/box"

<div class="row">

    <div class="col-md-6">
        <h3>Box component demo</h3>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h4>Preview</h4>
        <de.springwald.blazortools.Components.Box Mini="@formValues.Mini" Title="@formValues.Title" Collapsable="@formValues.Collapsable" Collapsed="@formValues.Collapsed">
            @formValues.Content
        </de.springwald.blazortools.Components.Box>
    </div>

    <div class="col-md-6">

        <h3>Parameter</h3>
        <EditForm Model="@formValues">
            <div class="form-group">
                <label for="@formValues.Mini">Mini</label>
                <InputCheckbox class="form-control" @bind-Value="formValues.Mini" />
            </div>
            <div class="form-group">
                <label for="@formValues.Collapsable">Collapsable</label>
                <InputCheckbox class="form-control" @bind-Value="formValues.Collapsable" />
            </div>
            <div class="form-group">
                <label for="@formValues.Collapsed">Collapsed</label>
                <InputCheckbox class="form-control" @bind-Value="formValues.Collapsed" />
            </div>
            <div class="form-group">
                <label for="@formValues.Title">Title</label>
                <InputText class="form-control" @bind-Value="formValues.Title" />
            </div>
            <div class="form-group">
                <label for="@formValues.Content">Content</label>
                <InputText class="form-control" @bind-Value="formValues.Content" />
            </div>
        </EditForm>

    </div>
</div>

@code {

    public class FormValues
    {
        public bool Mini { get; set; }
        public bool Collapsable { get; set; }
        public bool Collapsed { get; set; }
        public string Title { get; set; } = "The title";
        public string Content { get; set; } = "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.";
    }

    private FormValues formValues = new FormValues();

}
